.statistics {
  width: 600px;
  margin: 50px auto;
  hr {
    width: 100%;
  }
  google-chart {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    width: 1000px;
    height: 450px;
    box-shadow: 6px 4px 4px 0px #dcd6d6;
  }
}

@media (max-width:380px) {
    .statistics {
      width: 350px;
      google-chart{
          height: 350px;
      }
    }
  }