.home-page {
  align-self: start;
  .user-wrapper {
    background: url("../../../assets//images/bg.svg");
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    margin: 5px;
    .user-details {
      height: 320px;
      align-self: center;
      h4.user-title {
        font-size: 50px;
        color: #3e5761;
        width: max-content;
        border-bottom: 1px solid #3e5761;
      }
      span {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #415c67;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h3 {
        margin-bottom: 10px;
        font-size: 20px;
        border-bottom: 1px solid orange;
        border-top: 1px solid orange;
        padding: 10px;
        color: #283235;
        i {
          padding: 10px;
          font-size: 18px;
        }
      }
      :first-of-type {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 480px) {
  .home-page {
    .user-details {
      h4.user-title{
        font-size: 35px !important;
        align-self: center;
      }
      .info {
        flex-direction: column;
        h3 {
          font-size: 16px !important
        }
      }
    }
  }
}
