.transfer {
  width: 400px;
  input {
    flex-grow: 1;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
    padding: 5px;
  }
  button {
    background-color: orange;
    font-weight: bold;
    color: white;
  }
}
h3{
    margin:5px;
    padding: 0;
    font-size: 15px;
    color: red;
    font-weight: bold;
    text-align: center;
}

@media (max-width:380px) {
  .transfer {
    width: 350px;
    input{
      font-size: 14px;
    }
  }
}