.contact-details {
  margin: 25px auto;
  img {
    width: 150px;
    align-self: center;
    border: 2px solid black;
    border-radius: 50%;
  }
  .contact-actions {
    align-self: center;
    button {
      background-color: transparent;
      i {
        font-size: 25px;
        margin-top: 10px;
        color:white;
        transition: 0.2s all ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .contact-details {
    align-self: center;
    h4 {
      width: 100%;
      text-align: center;
      margin: 5px;
      padding: 10px;
      font-size: 18px;
    }
  }
  .contact-transfer {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    h4 {
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
      text-align: center;
      width: 300px;
      span{
        border-bottom:1px solid white;
      }
    }
  }
}

@media (max-width: 480px) {
  .contact-details {
    width: 350px;
    h4 {
      width: 350px;
      font-size: 14px;
    }
    .contact-transfer {
      width: 340px;
    }
  }
}
