.contact-details {
  width: 500px;
  margin: 25px auto;
  align-items: center;
  img {
    width: 150px;
    align-self: center;
    border: 2px solid black;
    border-radius: 50%;
  }
  .contact-actions {
    align-self: center;
    button {
      background-color: transparent;
      i {
        font-size: 20px;
        margin-top: 10px;
        transition: 0.2s all ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .contact-details{
    align-self: center;
    h4{
      border: 2px solid black;
      width: 100%;
      margin:5px;
      align-self: center;
      padding:10px;
      font-size: 18px;
      border-radius: 5px;
      span{
        font-weight: bold;
        text-decoration: underline;
      }
  }
  }
 .contact-transfer{
  align-items: center;
  border:2px solid black;
  width: 500px;
  padding:10px;
  margin-bottom: 5px;
  border-radius: 5px;
  h4{
    font-size: 17px;
    font-weight: bold;
    padding-bottom:10px;
    text-align: center;
  }
 }
 
}

@media (max-width:380px) {
  .contact-details {
    width: 350px;
    h4{
      width: 350px;
      font-size: 14px;
    }
    .contact-transfer{
      width: 360px;
    }
   
  }
}
