<section class="contact-details container flex col">
  <img [src]="contactToShow.profilePic" />
  <section class="contact-actions flex">
    <button (click)="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
    <a routerLink="/contact/edit/{{ contactToShow._id }}">
      <button><i class="fas fa-user-edit"></i></button>
    </a>
  </section>
  <section class="contact-details flex col-layout">
    <h4> {{ contactToShow.name }}</h4>
    <h4> {{ contactToShow.email }}</h4>
    <h4> {{ contactToShow.phone }}</h4>
  </section>
  <section class="container contact-transfer flex col-layout">
    <h4>Transfer Coins to - <span>{{ contactToShow.name }}</span></h4>
    <transfer-fund [toContact]="contactToShow"></transfer-fund>
  </section>
  <move-list [moves]="userTransactions" ></move-list>
</section>
