header {
  background-color: #1a4a97;
  width: 100%;
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 18px;
      font-family: "Inter", sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 10px;
      text-transform: none;
      color: white;
      &:focus{
        border-bottom: 4px solid orange;
      }
    }
  }
}

@media (max-width:480px) {
  header {
    nav a{
      font-size: 13px;
    }
  }
}
