footer{
    background-color: #1a4a97;
    text-align: center;
    font-size: 15px;
    color: white;
    h1{
        margin:0;
        padding: 0;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
    }
}